<div id="<%= dom_id index %>">
  <p>
    <strong>Create:</strong>
    <%= index.create %>
  </p>

  <p>
    <strong>New:</strong>
    <%= index.new %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= index.body %>
  </p>

</div>
